.App {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.Table {
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.day {
  box-shadow: 5px 5px 5px #fff;
}
.Table:hover {
  width: 55px;
  box-shadow: 5px 5px 5px #333;
}
